// 基本信息
// 右侧主体内容
.right_main_list
	.list_title
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word
				span &#22522;&#26412;&#20449;&#24687;
				span.list_title_button -&#25910;&#32553;
		.list_title_pic_o.right
			img(src='assets/images/page2_05.png', alt='')
// 新建列表表单
.list_main_p
	form.form_bg1(method='post', action='')
		table(width='100%')
			tr
				td.grad_height50(width='25%') &#26597;&#35810;&#32534;&#21495;&#65306;
				td.grad_bg_gray(width='25%') F&UnderBar;BREPORT0003
				td.grad_height50(width='25%') &#26597;&#35810;&#26102;&#38388;&#65306;
				td.grad_bg_gray1(width='25%') 2013-12-01 10&colon;10&colon;10
			tr
				td.grad_height50 &#20225;&#19994;&#21517;&#31216;&#65306;
				td.grad_bg_gray &#19978;&#28023;&#25438;&#27966;&#39184;&#39278;&#31649;&#29702;&#26377;&#38480;&#20844;&#21496;&#28023;&#24213;&#25438;&#21556;&#20013;&#36335;&#24215;
				td.grad_height50 &#33829;&#19994;&#25191;&#29031;&#27880;&#20876;&#21495;&#65306;
				td.grad_bg_gray1 321200400005024
			tr
				td.grad_height50 &#38134;&#32852;&#21830;&#25143;&#32534;&#21495;&#65306;
				td.grad_bg_gray 102 1101 5722 3768
				td.grad_height50 &#38134;&#34892;&#21345;&#21495;&#30721;&#65306;
				td.grad_bg_gray1 6228 7989 8987 6789 741
			tr
				td.grad1_height50 &#20225;&#19994;&#20027;&#22995;&#21517;&#65306;
				td.grad1_bg_gray &#27743;&#32918;&#20426;
				td.grad1_height50 &#36523;&#20221;&#35777;&#21495;&#30721;&#65306;
				td 3827 8890 8998 6789 2X