// 企业主近12个月每月消费状况
.right_main_list
	.list_title
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word
				span &#20225;&#19994;&#20027;&#36817;12&#20010;&#26376;&#27599;&#26376;&#28040;&#36153;&#29366;&#20917;
				span.list_title_button -&#25910;&#32553;
		.list_title_pic_o.right
			img(src='assets/images/page2_05.png', alt='')
// 新建列表表单
.list_main_p
	form.form_bg1(method='post', action='')
		table(width='100%')
			tr
				td.grad_bg_gray.word_center(height='50px') &#25968;&#25454;&#25351;&#26631;
				td.grad_bg_gray.word_center 2012-12
				td.grad_bg_gray.word_center 2013-07
				td.grad_bg_gray.word_center 2013-08
				td.grad_bg_gray.word_center 2013-09
				td.grad_bg_gray.word_center 2013-10
				td.grad_bg_gray.word_center 2013-11
				td.grad_bg_gray1.word_center &#36817;12&#20010;&#26376;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#28040;&#36153;&#37329;&#39069;&#65288;&#20803;&#65289;
				td.grad_bg_gray.word_center(height='50px') 6000
				td.grad_bg_gray.word_center.grad_bg_white
					| 6000
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad_bg_gray.word_center
					| 6000
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad_bg_gray.word_center.grad_bg_white
					| 7500
					span.grad_ico
						img(src='assets/images/shuju_main_11.png')
				td.grad_bg_gray.word_center
					| 7500
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad_bg_gray.word_center.grad_bg_white
					| 9000
					span.grad_ico
						img(src='assets/images/shuju_main_11.png')
				td.grad_bg_gray.word_center 42000
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#28040;&#36153;&#37329;&#39069;&#22312;&#26412;&#24066;&#30340;&#25490;&#21517;
				td.grad_bg_gray.word_center(height='50px') &#21069;35&percnt;
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;35&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad_bg_gray.word_center
					| &#21069;35&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;30&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png')
				td.grad_bg_gray.word_center
					| &#21069;30&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;25&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png')
				td.grad_bg_gray.word_center &#21069;30&percnt;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#28040;&#36153;&#31508;&#25968;
				td.grad_bg_gray.word_center(height='50px') 20
				td.grad_bg_gray.word_center.grad_bg_white
					| 20
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad_bg_gray.word_center
					| 20
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad_bg_gray.word_center.grad_bg_white
					| 25
					span.grad_ico
						img(src='assets/images/shuju_main_11.png')
				td.grad_bg_gray.word_center
					| 25
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad_bg_gray.word_center.grad_bg_white
					| 30
					span.grad_ico
						img(src='assets/images/shuju_main_11.png')
				td.grad_bg_gray.word_center 140
			tr
				td.grad1_bg_gray.word_center.grad_bg_white &#28040;&#36153;&#31508;&#25968;&#22312;&#26412;&#24066;&#30340;&#25490;&#21517;
				td.grad1_bg_gray.word_center(height='50px') &#21069;35&percnt;
				td.grad1_bg_gray.word_center.grad_bg_white
					| &#21069;35&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad1_bg_gray.word_center
					| &#21069;35&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad1_bg_gray.word_center.grad_bg_white
					| &#21069;30&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png')
				td.grad1_bg_gray.word_center
					| &#21069;30&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png')
				td.grad1_bg_gray.word_center.grad_bg_white
					| &#21069;25&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png')
				td.word_center &#21069;30&percnt;