tr.form_no_bg.rise
	td.form_no_bg(colspan='2')
		.input_wk240.monitor_marg10
			select.no_wk240(name="f1")
				option(value="1")
					| 企业月交易金额(元)
				option(value="2")
					| 境外消费占比
				option(value="3")
					| 疑似信用卡套现交易笔数
	td(width='130px')
		.input_wk118.monitor_marg10
			select.no_wk118(name="f2")
				option(value="1")
					| 环比下降或超过
				option(value="2")
					| 大于或等于
				option(value="3")
					| 不等于
	td(width='100px')
		input.have_wk80(type='', name='', value='')
	td
		span.delete
			img(src='assets/images/new_03.png', alt='')