// 基本信息
// 右侧主体内容
.right_main_list
	.list_title
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word
				span &#30417;&#25511;&#20449;&#24687;
				span.list_title_button -&#25910;&#32553;
		.list_title_pic_o.right
			img(src='assets/images/page2_05.png', alt='')
// 新建列表表单
.list_main_p
	form.form_bg1(method='post', action='')
		table(width='100%')
			tr
				td.grad_height50.grad_bg_white(width='150px', height='50px') &#22995;&#21517;&#65306;
				td.grad_bg_gray1(colspan='2') xxx
			tr
				td.grad_height50.grad_bg_white(width='150px', height='50px') &#36523;&#20221;&#35777;&#21495;&#30721;&#65306;
				td.grad_bg_gray1(colspan='2') 020202020202020202
			tr
				td.grad_height50.grad_bg_white(height='50px') &#30417;&#25511;&#26376;&#20221;&#65306;
				td.grad_bg_gray1(colspan='2') 2014-04
			tr
				td.grad1_height50.grad_bg_white(rowspan='3') &#39118;&#38505;&#39044;&#35686;&#25351;&#26631;&#65306;
				td.grad_bg_gray(height='50px') &#26376;&#20225;&#19994;&#26376;&#20132;&#26131;&#37329;&#39069;&#65288;&#20803;&#65289;&#29615;&#27604;&#19979;&#38477;&#36229;&#36807;100&percnt;
				td.grad_bg_gray1.grad_bg_white
					font(color='#006633') &#26410;&#35302;&#21450;
			tr
				td.grad_bg_gray(height='50px') &#22659;&#22806;&#28040;&#36153;&#21344;&#27604;&#22823;&#20110;&#25110;&#31561;&#20110;50&percnt;
				td.grad_bg_gray.grad_bg_white
					font(color='#FF0000') &#35302;&#21450;
			tr
				td.grad1_bg_gray(height='50px') &#30097;&#20284;&#20449;&#29992;&#21345;&#22871;&#29616;&#20132;&#26131;&#31508;&#25968;&#19981;&#31561;&#20110;0
				td.grad_bg_white
					font(color='#FF0000') &#35302;&#21450;