// 企业主近12个月消费所在城市/国别统计
.right_main_list
	.list_title
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word
				span 近12个月消费所在城市/国别统计
				span.list_title_button -&#25910;&#32553;
		.list_title_pic_o.right
			img(src='assets/images/page2_05.png', alt='')
// 新建列表表单
.list_main_p
	form.form_bg1(method='post', action='')
		table(width='100%')
			tr
				td.grad_bg_gray.word_center(height='50px') &#22478;&#24066;&sol;&#22269;&#21035;
				td.grad_bg_gray.word_center &#28040;&#36153;&#31508;&#25968;
				td.grad_bg_gray.word_center &#28040;&#36153;&#31508;&#25968;&#21344;&#27604;
				td.grad_bg_gray.word_center &#28040;&#36153;&#37329;&#39069;&#65288;&#20803;&#65289;
				td.grad_bg_gray.word_center &#28040;&#36153;&#37329;&#39069;&#21344;&#27604;
				td.grad_bg_gray.word_center &#31532;&#19968;&#27425;&#28040;&#36153;&#26085;&#26399;
				td.grad_bg_gray1.word_center &#26368;&#21518;&#19968;&#27425;&#28040;&#36153;&#26085;&#26399;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#19978;&#28023;
				td.grad_bg_gray.word_center(height='50px') 180
				td.grad_bg_gray.word_center.grad_bg_white 83&percnt;
				td.grad_bg_gray.word_center 70000
				td.grad_bg_gray.word_center.grad_bg_white 70&percnt;
				td.grad_bg_gray.word_center 2012-12-03
				td.grad_bg_gray1.word_center.grad_bg_white 2013-10-29
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#26477;&#24030;
				td.grad_bg_gray.word_center(height='50px') 29
				td.grad_bg_gray.word_center.grad_bg_white 13&percnt;
				td.grad_bg_gray.word_center 20000
				td.grad_bg_gray.word_center.grad_bg_white 20&percnt;
				td.grad_bg_gray.word_center 2013-02-09
				td.grad_bg_gray1.word_center.grad_bg_white 2013-08-19
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#32654;&#22269;
				td.grad_bg_gray.word_center(height='50px') 3
				td.grad_bg_gray.word_center.grad_bg_white 1&percnt;
				td.grad_bg_gray.word_center 8000
				td.grad_bg_gray.word_center.grad_bg_white 8&percnt;
				td.grad_bg_gray.word_center 2013-04-28
				td.grad_bg_gray1.word_center.grad_bg_white 2013-05-01
			tr
				td.grad1_bg_gray.word_center.grad_bg_white &#33487;&#24030;
				td.grad1_bg_gray.word_center(height='50px') 5
				td.grad1_bg_gray.word_center.grad_bg_white 2&percnt;
				td.grad1_bg_gray.word_center 2000
				td.grad1_bg_gray.word_center.grad_bg_white 2&percnt;
				td.grad1_bg_gray.word_center 2013-07-01
				td.grad_bg_white.word_center 2013-07-06