// 企业近6个月客户消费笔数分布
.right_main_list
	.list_title
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word
				span &#20225;&#19994;&#36817;6&#20010;&#26376;&#23458;&#25143;&#28040;&#36153;&#31508;&#25968;&#20998;&#24067;
				span.list_title_button -&#25910;&#32553;
		.list_title_pic_o.right
			img(src='assets/images/page2_05.png', alt='')
// 新建列表表单
.list_main_p
	form.form_bg1(method='post', action='')
		table(width='100%')
			tr
				td.grad_bg_gray.word_center(height='50px') &#28040;&#36153;&#31508;&#25968;
				td.grad_bg_gray.word_center &#20132;&#26131;&#20154;&#25968;
				td.grad_bg_gray.word_center &#20132;&#26131;&#20154;&#25968;&#21344;&#27604;
				td.grad_bg_gray.word_center &#20132;&#26131;&#37329;&#39069;&#65288;&#20803;&#65289;
				td.grad_bg_gray.word_center &#20132;&#26131;&#37329;&#39069;&#21344;&#27604;
				td.grad_bg_gray1.word_center &#23458;&#21333;&#20215;&#65288;&#20803;&#65289;
			tr
				td.grad_bg_gray.word_center.grad_bg_white 1&#31508;
				td.grad_bg_gray.word_center(height='50px') 7853
				td.grad_bg_gray.word_center.grad_bg_white 51&period;03&percnt;
				td.grad_bg_gray.word_center 1&comma;177&comma;950
				td.grad_bg_gray.word_center.grad_bg_white 26&period;13&percnt;
				td.grad_bg_gray1.word_center 150
			tr
				td.grad_bg_gray.word_center.grad_bg_white 2&#31508;
				td.grad_bg_gray.word_center(height='50px') 3810
				td.grad_bg_gray.word_center.grad_bg_white 24&period;76&percnt;
				td.grad_bg_gray.word_center 1&comma;143&comma;000
				td.grad_bg_gray.word_center.grad_bg_white 25&period;35&percnt;
				td.grad_bg_gray1.word_center 150
			tr
				td.grad_bg_gray.word_center.grad_bg_white 3&#31508;
				td.grad_bg_gray.word_center(height='50px') 2090
				td.grad_bg_gray.word_center.grad_bg_white 13&period;58&percnt;
				td.grad_bg_gray.word_center 940&comma;500
				td.grad_bg_gray.word_center.grad_bg_white 20&period;86&percnt;
				td.grad_bg_gray1.word_center 150
			tr
				td.grad_bg_gray.word_center.grad_bg_white 4&#31508;
				td.grad_bg_gray.word_center(height='50px') 826
				td.grad_bg_gray.word_center.grad_bg_white 5&period;37&percnt;
				td.grad_bg_gray.word_center 495&comma;600
				td.grad_bg_gray.word_center.grad_bg_white 10&period;99&percnt;
				td.grad_bg_gray1.word_center 150
			tr
				td.grad_bg_gray.word_center.grad_bg_white 5&#31508;
				td.grad_bg_gray.word_center(height='50px') 382
				td.grad_bg_gray.word_center.grad_bg_white 2&period;48&percnt;
				td.grad_bg_gray.word_center 286&comma;500
				td.grad_bg_gray.word_center.grad_bg_white 6&period;35&percnt;
				td.grad_bg_gray1.word_center 150
			tr
				td.grad_bg_gray.word_center.grad_bg_white 6&#31508;
				td.grad_bg_gray.word_center(height='50px') 188
				td.grad_bg_gray.word_center.grad_bg_white 1&period;22&percnt;
				td.grad_bg_gray.word_center 169&comma;200
				td.grad_bg_gray.word_center.grad_bg_white 3&period;75&percnt;
				td.grad_bg_gray1.word_center 150
			tr
				td.grad_bg_gray.word_center.grad_bg_white 7&#31508;
				td.grad_bg_gray.word_center(height='50px') 101
				td.grad_bg_gray.word_center.grad_bg_white 0&period;66&percnt;
				td.grad_bg_gray.word_center 106&comma;050
				td.grad_bg_gray.word_center.grad_bg_white 2&period;35&percnt;
				td.grad_bg_gray1.word_center 150
			tr
				td.grad_bg_gray.word_center.grad_bg_white 8&#31508;
				td.grad_bg_gray.word_center(height='50px') 72
				td.grad_bg_gray.word_center.grad_bg_white 0&period;47&percnt;
				td.grad_bg_gray.word_center 86&comma;400
				td.grad_bg_gray.word_center.grad_bg_white 1&period;92&percnt;
				td.grad_bg_gray1.word_center 150
			tr
				td.grad_bg_gray.word_center.grad_bg_white 9&#31508;
				td.grad_bg_gray.word_center(height='50px') 38
				td.grad_bg_gray.word_center.grad_bg_white 0&period;25&percnt;
				td.grad_bg_gray.word_center 51&comma;300
				td.grad_bg_gray.word_center.grad_bg_white 1&period;14&percnt;
				td.grad_bg_gray1.word_center 150
			tr
				td.grad1_bg_gray.word_center.grad_bg_white 10&#31508;
				td.grad1_bg_gray.word_center(height='50px') 29
				td.grad1_bg_gray.word_center.grad_bg_white 0&period;19&percnt;
				td.grad1_bg_gray.word_center 52&comma;200
				td.grad1_bg_gray.word_center.grad_bg_white 1&period;16&percnt;
				td.word_center 150