// 企业主近12个月在各类商户处消费统计
.right_main_list
	.list_title
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word
				span &#20225;&#19994;&#20027;&#36817;12&#20010;&#26376;&#22312;&#21508;&#31867;&#21830;&#25143;&#22788;&#28040;&#36153;&#32479;&#35745;
				span.list_title_button -&#25910;&#32553;
		.list_title_pic_o.right
			img(src='assets/images/page2_05.png', alt='')
// 新建列表表单
.list_main_p
	form.form_bg1(method='post', action='')
		table(width='100%')
			tr
				td.grad_bg_gray.word_center(height='50px') &#21830;&#25143;&#31867;&#21035;
				td.grad_bg_gray.word_center &#28040;&#36153;&#31508;&#25968;
				td.grad_bg_gray.word_center &#28040;&#36153;&#31508;&#25968;&#21344;&#27604;
				td.grad_bg_gray.word_center &#28040;&#36153;&#37329;&#39069;&#65288;&#20803;&#65289;
				td.grad_bg_gray1.word_center &#28040;&#36153;&#37329;&#39069;&#21344;&#27604;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#39184;&#39278;&#32654;&#39135;
				td.grad_bg_gray.word_center(height='50px') 10
				td.grad_bg_gray.word_center.grad_bg_white 10&percnt;
				td.grad_bg_gray.word_center 3000
				td.grad_bg_gray1.word_center.grad_bg_white 10&percnt;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#21307;&#30103;&#20445;&#20581;
				td.grad_bg_gray.word_center(height='50px') 10
				td.grad_bg_gray.word_center.grad_bg_white 10&percnt;
				td.grad_bg_gray.word_center 3000
				td.grad_bg_gray1.word_center.grad_bg_white 10&percnt;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#39749;&#21147;&#20029;&#20154;
				td.grad_bg_gray.word_center(height='50px') 10
				td.grad_bg_gray.word_center.grad_bg_white 10&percnt;
				td.grad_bg_gray.word_center 3000
				td.grad_bg_gray1.word_center.grad_bg_white 10&percnt;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#29983;&#27963;&#20415;&#21033;
				td.grad_bg_gray.word_center(height='50px') 10
				td.grad_bg_gray.word_center.grad_bg_white 10&percnt;
				td.grad_bg_gray.word_center 3000
				td.grad_bg_gray1.word_center.grad_bg_white 10&percnt;
			tr
				td.grad1_bg_gray.word_center.grad_bg_white &#20080;&#25151;&#31199;&#25151;
				td.grad1_bg_gray.word_center(height='50px') 10
				td.grad1_bg_gray.word_center.grad_bg_white 10&percnt;
				td.grad1_bg_gray.word_center 3000
				td.grad_bg_white.word_center 10