// 企业交易流水按月统计
.right_main_list
	.list_title
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word
				span &#20225;&#19994;&#20132;&#26131;&#27969;&#27700;&#25353;&#26376;&#32479;&#35745;
				span.list_title_button -&#25910;&#32553;
		.list_title_pic_o.right
			img(src='assets/images/page2_05.png', alt='')
// 新建列表表单
.list_main_p
	form.form_bg1(method='post', action='')
		table(width='100%')
			tr
				td#chart_1.grad_height200
				td#chart_2.grad_bg_gray200