// 企业近6个月核心经营指标
// 右侧主体内容
.right_main_list
	.list_title
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word
				span
					| &#20225;&#19994;&#36817;6&#20010;&#26376;&#26680;&#24515;&#32463;&#33829;&#25351;&#26631;
				span.list_title_button -&#25910;&#32553;
		.list_title_pic_o.right
			img(src='assets/images/page2_05.png', alt='')
// 新建列表表单
.list_main_p
	form.form_bg1(method='post', action='')
		table(width='100%')
			tr
				td.grad_height50 &#25345;&#32493;&#32463;&#33829;&#22825;&#25968;&#65306;
				td.grad_bg_gray 180&#22825;
				td.grad_height50 &#25345;&#32493;&#32463;&#33829;&#21608;&#25968;&#65306;
				td.grad_bg_gray 24&#21608;
				td.grad_height50 &#25345;&#32493;&#32463;&#33829;&#26376;&#25968;&#65306;
				td.grad_bg_gray1 6&#20010;&#26376;
			tr
				td.grad_height50 &#20132;&#26131;&#24635;&#37329;&#39069;&#65306;
				td.grad_bg_gray 240&#19975;&#20803;
				td.grad_height50 &#20132;&#26131;&#24635;&#31508;&#25968;&#65306;&#65306;
				td.grad_bg_gray 12000
				td.grad_height50 &#20132;&#26131;&#24635;&#20154;&#25968;&#65306;
				td.grad_bg_gray1 3500
			tr
				td.grad_height50 &#21608;&#22343;&#20132;&#26131;&#37329;&#39069;&#65306;
				td.grad_bg_gray 10&#19975;&#20803;
				td.grad_height50 &#26368;&#39640;&#21333;&#21608;&#20132;&#26131;&#37329;&#39069;&#65306;
				td.grad_bg_gray 25&#19975;&#20803;
				td.grad_height50 &#26368;&#20302;&#21333;&#21608;&#20132;&#26131;&#37329;&#39069;&#65306;
				td.grad_bg_gray1 5&#19975;&#20803;
			tr
				td.grad1_height50 &#21608;&#22343;&#20132;&#26131;&#31508;&#25968;&#65306;
				td.grad1_bg_gray 500
				td.grad1_height50 &#26368;&#39640;&#21333;&#21608;&#20132;&#26131;&#31508;&#25968;&#65306;
				td.grad1_bg_gray 1200
				td.grad1_height50 &#26368;&#20302;&#21333;&#21608;&#20132;&#26131;&#31508;&#25968;&#65306;
				td 200