// 企业近6个月每月经营指标
.right_main_list
	.list_title
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word
				span &#20225;&#19994;&#36817;6&#20010;&#26376;&#27599;&#26376;&#32463;&#33829;&#25351;&#26631;
				span.list_title_button -&#25910;&#32553;
		.list_title_pic_o.right
			img(src='assets/images/page2_05.png', alt='')
// 新建列表表单
.list_main_p
	form.form_bg1(method='post', action='')
		table(width='100%')
			tr
				td.grad_bg_gray.word_center(height='50px') &#25968;&#25454;&#25351;&#26631;
				td.grad_bg_gray.word_center 2013-06
				td.grad_bg_gray.word_center 2013-07
				td.grad_bg_gray.word_center 2013-08
				td.grad_bg_gray.word_center 2013-09
				td.grad_bg_gray.word_center 2013-10
				td.grad_bg_gray.word_center 2013-11
				td.grad_bg_gray1.word_center &#36817;6&#20010;&#26376;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#37329;&#39069;&#65288;&#20803;&#65289;
				td.grad_bg_gray.word_center(height='50px') 35&#19975;
				td.grad_bg_gray.word_center.grad_bg_white
					| 35&#19975;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| 35&#19975;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 40&#19975;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center
					| 45&#19975;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 50&#19975;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray1.word_center 240&#19975;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#37329;&#39069;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
				td.grad_bg_gray.word_center(height='50px') &#21069;35&percnt;
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;35&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| &#21069;35&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;30&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center
					| &#21069;25&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;20&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray1.word_center &#21069;30&percnt;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#31508;&#25968;
				td.grad_bg_gray.word_center(height='50px') 1750
				td.grad_bg_gray.word_center.grad_bg_white
					| 1750
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| 1750
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 2000
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center
					| 2250
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 2500
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray1.word_center 12000
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#31508;&#25968;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
				td.grad_bg_gray.word_center(height='50px') &#21069;35&percnt;
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;35&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| &#21069;35&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;30&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center
					| &#21069;25&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;20&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray1.word_center &#21069;30&percnt;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#20154;&#25968;
				td.grad_bg_gray.word_center(height='50px') 875
				td.grad_bg_gray.word_center.grad_bg_white
					| 875
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| 875
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 875
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| 875
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 875
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray1.word_center 3500
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#24635;&#20154;&#25968;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
				td.grad_bg_gray.word_center(height='50px') &#21069;50&percnt;
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;55&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center
					| &#21069;60&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;55&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_18.png', alt='')
				td.grad_bg_gray.word_center
					| &#21069;50&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_18.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;50&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray1.word_center &#21069;50&percnt;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#31508;&#21333;&#20215;&#65288;&#20803;&#65289;
				td.grad_bg_gray.word_center(height='50px') 200
				td.grad_bg_gray.word_center.grad_bg_white
					| 200
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| 200
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 200
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| 200
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 200
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray1.word_center 200
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#31508;&#21333;&#20215;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
				td.grad_bg_gray.word_center(height='50px') &#21069;50&percnt;
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;55&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center
					| &#21069;60&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;55&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_18.png', alt='')
				td.grad_bg_gray.word_center
					| &#21069;50&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_18.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;50&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray1.word_center &#21069;50&percnt;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#23458;&#21333;&#20215;&#65288;&#20803;&#65289;
				td.grad_bg_gray.word_center(height='50px') 400
				td.grad_bg_gray.word_center.grad_bg_white
					| 400
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| 400
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 400
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| 400
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 400
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray1.word_center 400
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#23458;&#21333;&#20215;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
				td.grad_bg_gray.word_center(height='50px') &#21069;50&percnt;
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;55&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center
					| &#21069;60&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;55&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_18.png', alt='')
				td.grad_bg_gray.word_center
					| &#21069;50&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_18.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| &#21069;50&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray1.word_center &#21069;50&percnt;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#20154;&#22343;&#20132;&#26131;&#31508;&#25968;
				td.grad_bg_gray.word_center(height='50px') 2
				td.grad_bg_gray.word_center.grad_bg_white
					| 2
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| 2
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 2
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center
					| 2
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray.word_center.grad_bg_white
					| 2
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.grad_bg_gray1.word_center 2
			tr
				td.grad1_bg_gray.word_center.grad_bg_white &#20154;&#22343;&#20132;&#26131;&#31508;&#25968;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
				td.grad1_bg_gray.word_center(height='50px') &#21069;50&percnt;
				td.grad1_bg_gray.word_center.grad_bg_white
					| &#21069;55&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad1_bg_gray.word_center
					| &#21069;60&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_11.png', alt='')
				td.grad1_bg_gray.word_center.grad_bg_white
					| &#21069;55&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_18.png', alt='')
				td.grad1_bg_gray.word_center
					| &#21069;50&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_18.png', alt='')
				td.grad1_bg_gray.word_center.grad_bg_white
					| &#21069;50&percnt;
					span.grad_ico
						img(src='assets/images/shuju_main_15.png', alt='')
				td.word_center &#21069;50&percnt;