!!! 5
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title &#37329;&#34701;&#19994;&#21830;&#25143;&#31649;&#29702;&#24179;&#21488;
		link(href='assets/css/index.css', rel='stylesheet', type='text/css')
		link(href='assets/css/index_main.css', rel='stylesheet', type='text/css')
		link(href='assets/css/bootstrap.css', rel='stylesheet', type='text/css')
	body
		// 顶部
		.header
			.header_left.clearfix
				.logo
					img(src='assets/images/logo_02.png', alt='')
				.version_number &#20869;&#27979;&#29256;
			.header_right
				.shop_name
					span.shops_name &#19978;&#28023;&#24037;&#21830;&#38134;&#34892;&#24352;&#19996;&#36335;&#38376;&#24215;&#23567;&#36151;&#22788;
					span.shops_pic
						img(src='assets/images/newstyle_42.png', alt='')
				.exit_system
					span.exit_pic
						img(src='assets/images/newstyle_03.png', alt='')
					span.exit_system_name &#30331;&#20986;
		// 中间部分
		.section
			// 左侧导航条
			.left_nav
				ul
					li.item.title
						span.nav_pic_visited
							img(src='assets/images/newstyle_10.png', alt='')
						span.nav_info_visited &#31649;&#29702;&#20013;&#24515;
					li
						.title
							span.nav_pic1
								img(src='assets/images/newstyle_18.png', alt='')
							span.nav_info1 &#20225;&#19994;&#23458;&#25143;
						a.bule_nav(href='#')
							.item.item_height1.clearfix
								span.nav_pic
									img(src='assets/images/newstyle_33.png', alt='')
								span.nav_info &#25968;&#25454;&#25253;&#21578;&#26597;&#35810;
						a.bule_nav(href='#')
							.item.item_height2
								span.nav_pic
									img(src='assets/images/newstyle_38.png', alt='')
								span.nav_info &#36151;&#21518;&#25968;&#25454;&#30417;&#25511;
					li
						.title
							span.nav_pic1
								img(src='assets/images/newstyle_44.png', alt='')
							span.nav_info1 &#20225;&#19994;&#23458;&#25143;
						a.bule_nav(href='#')
							.item.item_height1.clearfix
								span.nav_pic
									img(src='assets/images/newstyle_33.png', alt='')
								span.nav_info &#25968;&#25454;&#25253;&#21578;&#26597;&#35810;
						a.bule_nav(href='#')
							.item.item_height2
								span.nav_pic
									img(src='assets/images/newstyle_38.png', alt='')
								span.nav_info &#36151;&#21518;&#25968;&#25454;&#30417;&#25511;
			// 右侧主体
			.right_main
				// 上部欢迎
				.right_top
					.admin_welcome
						.admin_left_image
							img(src='assets/images/newstyle4_03.png', alt='')
						.welcome_pic
							img(src='assets/images/newstyle_07.png', alt='')
						span.welcome_word &#31649;&#29702;&#20013;&#24515; - &#20225;&#19994;&#23458;&#25143; - &#25968;&#25454;&#25253;&#21578;&#26597;&#35810;
						.admin_right_image
							img(src='assets/images/newstyle4_07.png', alt='')
				// 信用等级
				.report_grading
					span.grading_pic AAA
					span.grading_left &#24314;&#35758;&#25480;&#20449;&#39069;&#24230;&#65306;100&#19975;&#20803;
					span.grading_right
						button.bg_button1.grading_left1 &#23548;&#20986;
						button.bg_button1.grading_left1 &#25171;&#21360;
						button.bg_button1.grading_left1 &#30417;&#25511;
				// 基本信息
				// 右侧主体内容
				.right_main_list
					.list_title
						.list_title_pic_o.left
							img(src='assets/images/page2_03.png', alt='')
						.list_title_main2
							.list_title_word
								span &#22522;&#26412;&#20449;&#24687;
								span.list_title_button -&#25910;&#32553;
						.list_title_pic_o.right
							img(src='assets/images/page2_05.png', alt='')
				// 新建列表表单
				.list_main
					form.form_bg1(method='post', action='')
						table(width='100%')
							tr
								td.grad_height50(width='25%') &#26597;&#35810;&#32534;&#21495;&#65306;
								td.grad_bg_gray(width='25%') F&UnderBar;BREPORT0003
								td.grad_height50(width='25%') &#26597;&#35810;&#26102;&#38388;&#65306;
								td.grad_bg_gray1(width='25%') 2013-12-01 10&colon;10&colon;10
							tr
								td.grad_height50 &#20225;&#19994;&#21517;&#31216;&#65306;
								td.grad_bg_gray &#19978;&#28023;&#25438;&#27966;&#39184;&#39278;&#31649;&#29702;&#26377;&#38480;&#20844;&#21496;&#28023;&#24213;&#25438;&#21556;&#20013;&#36335;&#24215;
								td.grad_height50 &#33829;&#19994;&#25191;&#29031;&#27880;&#20876;&#21495;&#65306;
								td.grad_bg_gray1 321200400005024
							tr
								td.grad_height50 &#38134;&#32852;&#21830;&#25143;&#32534;&#21495;&#65306;
								td.grad_bg_gray 102 1101 5722 3768
								td.grad_height50 &#38134;&#34892;&#21345;&#21495;&#30721;&#65306;
								td.grad_bg_gray1 6228 7989 8987 6789 741
							tr
								td.grad1_height50 &#20225;&#19994;&#20027;&#22995;&#21517;&#65306;
								td.grad1_bg_gray &#27743;&#32918;&#20426;
								td.grad1_height50 &#36523;&#20221;&#35777;&#21495;&#30721;&#65306;
								td 3827 8890 8998 6789 2X
				// 企业交易流水按月统计
				.right_main_list
					.list_title
						.list_title_pic_o.left
							img(src='assets/images/page2_03.png', alt='')
						.list_title_main2
							.list_title_word
								span &#20225;&#19994;&#20132;&#26131;&#27969;&#27700;&#25353;&#26376;&#32479;&#35745;
								span.list_title_button -&#25910;&#32553;
						.list_title_pic_o.right
							img(src='assets/images/page2_05.png', alt='')
				// 新建列表表单
				.list_main
					form.form_bg1(method='post', action='')
						table(width='100%')
							tr
								td.grad_height200
								td.grad_bg_gray200
				// 企业近6个月每月经营指标
				.right_main_list
					.list_title
						.list_title_pic_o.left
							img(src='assets/images/page2_03.png', alt='')
						.list_title_main2
							.list_title_word
								span &#20225;&#19994;&#36817;6&#20010;&#26376;&#27599;&#26376;&#32463;&#33829;&#25351;&#26631;
								span.list_title_button -&#25910;&#32553;
						.list_title_pic_o.right
							img(src='assets/images/page2_05.png', alt='')
				// 新建列表表单
				.list_main
					form.form_bg1(method='post', action='')
						table(width='100%')
							tr
								td.grad_bg_gray.word_center(height='50px') &#25968;&#25454;&#25351;&#26631;
								td.grad_bg_gray.word_center 2013-06
								td.grad_bg_gray.word_center 2013-07
								td.grad_bg_gray.word_center 2013-08
								td.grad_bg_gray.word_center 2013-09
								td.grad_bg_gray.word_center 2013-10
								td.grad_bg_gray.word_center 2013-11
								td.grad_bg_gray1.word_center &#36817;6&#20010;&#26376;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#37329;&#39069;&#65288;&#20803;&#65289;
								td.grad_bg_gray.word_center(height='50px') 35&#19975;
								td.grad_bg_gray.word_center.grad_bg_white
									| 35&#19975;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| 35&#19975;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 40&#19975;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center
									| 45&#19975;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 50&#19975;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray1.word_center 240&#19975;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#37329;&#39069;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
								td.grad_bg_gray.word_center(height='50px') &#21069;35&percnt;
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;35&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| &#21069;35&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;30&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center
									| &#21069;25&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;20&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray1.word_center &#21069;30&percnt;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#31508;&#25968;
								td.grad_bg_gray.word_center(height='50px') 1750
								td.grad_bg_gray.word_center.grad_bg_white
									| 1750
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| 1750
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 2000
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center
									| 2250
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 2500
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray1.word_center 12000
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#31508;&#25968;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
								td.grad_bg_gray.word_center(height='50px') &#21069;35&percnt;
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;35&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| &#21069;35&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;30&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center
									| &#21069;25&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;20&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray1.word_center &#21069;30&percnt;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#20154;&#25968;
								td.grad_bg_gray.word_center(height='50px') 875
								td.grad_bg_gray.word_center.grad_bg_white
									| 875
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| 875
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 875
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| 875
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 875
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray1.word_center 3500
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#20132;&#26131;&#24635;&#20154;&#25968;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
								td.grad_bg_gray.word_center(height='50px') &#21069;50&percnt;
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;55&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center
									| &#21069;60&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;55&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_18.png', alt='')
								td.grad_bg_gray.word_center
									| &#21069;50&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_18.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;50&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray1.word_center &#21069;50&percnt;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#31508;&#21333;&#20215;&#65288;&#20803;&#65289;
								td.grad_bg_gray.word_center(height='50px') 200
								td.grad_bg_gray.word_center.grad_bg_white
									| 200
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| 200
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 200
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| 200
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 200
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray1.word_center 200
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#31508;&#21333;&#20215;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
								td.grad_bg_gray.word_center(height='50px') &#21069;50&percnt;
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;55&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center
									| &#21069;60&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;55&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_18.png', alt='')
								td.grad_bg_gray.word_center
									| &#21069;50&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_18.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;50&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray1.word_center &#21069;50&percnt;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#23458;&#21333;&#20215;&#65288;&#20803;&#65289;
								td.grad_bg_gray.word_center(height='50px') 400
								td.grad_bg_gray.word_center.grad_bg_white
									| 400
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| 400
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 400
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| 400
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 400
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray1.word_center 400
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#23458;&#21333;&#20215;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
								td.grad_bg_gray.word_center(height='50px') &#21069;50&percnt;
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;55&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center
									| &#21069;60&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;55&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_18.png', alt='')
								td.grad_bg_gray.word_center
									| &#21069;50&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_18.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;50&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray1.word_center &#21069;50&percnt;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#20154;&#22343;&#20132;&#26131;&#31508;&#25968;
								td.grad_bg_gray.word_center(height='50px') 2
								td.grad_bg_gray.word_center.grad_bg_white
									| 2
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| 2
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 2
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center
									| 2
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray.word_center.grad_bg_white
									| 2
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.grad_bg_gray1.word_center 2
							tr
								td.grad1_bg_gray.word_center.grad_bg_white &#20154;&#22343;&#20132;&#26131;&#31508;&#25968;&#22312;&#26412;&#24066;&#21516;&#34892;&#19994;&#30340;&#25490;&#21517;
								td.grad1_bg_gray.word_center(height='50px') &#21069;50&percnt;
								td.grad1_bg_gray.word_center.grad_bg_white
									| &#21069;55&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad1_bg_gray.word_center
									| &#21069;60&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png', alt='')
								td.grad1_bg_gray.word_center.grad_bg_white
									| &#21069;55&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_18.png', alt='')
								td.grad1_bg_gray.word_center
									| &#21069;50&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_18.png', alt='')
								td.grad1_bg_gray.word_center.grad_bg_white
									| &#21069;50&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png', alt='')
								td.word_center &#21069;50&percnt;
				// 企业近6个月客户消费笔数分布
				.right_main_list
					.list_title
						.list_title_pic_o.left
							img(src='assets/images/page2_03.png', alt='')
						.list_title_main2
							.list_title_word
								span &#20225;&#19994;&#36817;6&#20010;&#26376;&#23458;&#25143;&#28040;&#36153;&#31508;&#25968;&#20998;&#24067;
								span.list_title_button -&#25910;&#32553;
						.list_title_pic_o.right
							img(src='assets/images/page2_05.png', alt='')
				// 新建列表表单
				.list_main
					form.form_bg1(method='post', action='')
						table(width='100%')
							tr
								td.grad_bg_gray.word_center(height='50px') &#28040;&#36153;&#31508;&#25968;
								td.grad_bg_gray.word_center &#20132;&#26131;&#20154;&#25968;
								td.grad_bg_gray.word_center &#20132;&#26131;&#20154;&#25968;&#21344;&#27604;
								td.grad_bg_gray.word_center &#20132;&#26131;&#37329;&#39069;&#65288;&#20803;&#65289;
								td.grad_bg_gray.word_center &#20132;&#26131;&#37329;&#39069;&#21344;&#27604;
								td.grad_bg_gray1.word_center &#23458;&#21333;&#20215;&#65288;&#20803;&#65289;
							tr
								td.grad_bg_gray.word_center.grad_bg_white 1&#31508;
								td.grad_bg_gray.word_center(height='50px') 7853
								td.grad_bg_gray.word_center.grad_bg_white 51&period;03&percnt;
								td.grad_bg_gray.word_center 1&comma;177&comma;950
								td.grad_bg_gray.word_center.grad_bg_white 26&period;13&percnt;
								td.grad_bg_gray1.word_center 150
							tr
								td.grad_bg_gray.word_center.grad_bg_white 2&#31508;
								td.grad_bg_gray.word_center(height='50px') 3810
								td.grad_bg_gray.word_center.grad_bg_white 24&period;76&percnt;
								td.grad_bg_gray.word_center 1&comma;143&comma;000
								td.grad_bg_gray.word_center.grad_bg_white 25&period;35&percnt;
								td.grad_bg_gray1.word_center 150
							tr
								td.grad_bg_gray.word_center.grad_bg_white 3&#31508;
								td.grad_bg_gray.word_center(height='50px') 2090
								td.grad_bg_gray.word_center.grad_bg_white 13&period;58&percnt;
								td.grad_bg_gray.word_center 940&comma;500
								td.grad_bg_gray.word_center.grad_bg_white 20&period;86&percnt;
								td.grad_bg_gray1.word_center 150
							tr
								td.grad_bg_gray.word_center.grad_bg_white 4&#31508;
								td.grad_bg_gray.word_center(height='50px') 826
								td.grad_bg_gray.word_center.grad_bg_white 5&period;37&percnt;
								td.grad_bg_gray.word_center 495&comma;600
								td.grad_bg_gray.word_center.grad_bg_white 10&period;99&percnt;
								td.grad_bg_gray1.word_center 150
							tr
								td.grad_bg_gray.word_center.grad_bg_white 5&#31508;
								td.grad_bg_gray.word_center(height='50px') 382
								td.grad_bg_gray.word_center.grad_bg_white 2&period;48&percnt;
								td.grad_bg_gray.word_center 286&comma;500
								td.grad_bg_gray.word_center.grad_bg_white 6&period;35&percnt;
								td.grad_bg_gray1.word_center 150
							tr
								td.grad_bg_gray.word_center.grad_bg_white 6&#31508;
								td.grad_bg_gray.word_center(height='50px') 188
								td.grad_bg_gray.word_center.grad_bg_white 1&period;22&percnt;
								td.grad_bg_gray.word_center 169&comma;200
								td.grad_bg_gray.word_center.grad_bg_white 3&period;75&percnt;
								td.grad_bg_gray1.word_center 150
							tr
								td.grad_bg_gray.word_center.grad_bg_white 7&#31508;
								td.grad_bg_gray.word_center(height='50px') 101
								td.grad_bg_gray.word_center.grad_bg_white 0&period;66&percnt;
								td.grad_bg_gray.word_center 106&comma;050
								td.grad_bg_gray.word_center.grad_bg_white 2&period;35&percnt;
								td.grad_bg_gray1.word_center 150
							tr
								td.grad_bg_gray.word_center.grad_bg_white 8&#31508;
								td.grad_bg_gray.word_center(height='50px') 72
								td.grad_bg_gray.word_center.grad_bg_white 0&period;47&percnt;
								td.grad_bg_gray.word_center 86&comma;400
								td.grad_bg_gray.word_center.grad_bg_white 1&period;92&percnt;
								td.grad_bg_gray1.word_center 150
							tr
								td.grad_bg_gray.word_center.grad_bg_white 9&#31508;
								td.grad_bg_gray.word_center(height='50px') 38
								td.grad_bg_gray.word_center.grad_bg_white 0&period;25&percnt;
								td.grad_bg_gray.word_center 51&comma;300
								td.grad_bg_gray.word_center.grad_bg_white 1&period;14&percnt;
								td.grad_bg_gray1.word_center 150
							tr
								td.grad1_bg_gray.word_center.grad_bg_white 10&#31508;
								td.grad1_bg_gray.word_center(height='50px') 29
								td.grad1_bg_gray.word_center.grad_bg_white 0&period;19&percnt;
								td.grad1_bg_gray.word_center 52&comma;200
								td.grad1_bg_gray.word_center.grad_bg_white 1&period;16&percnt;
								td.word_center 150
				// 企业主所持银行卡属性
				.right_main_list
					.list_title
						.list_title_pic_o.left
							img(src='assets/images/page2_03.png', alt='')
						.list_title_main2
							.list_title_word
								span &#20225;&#19994;&#20027;&#25152;&#25345;&#38134;&#34892;&#21345;&#23646;&#24615;
								span.list_title_button -&#25910;&#32553;
						.list_title_pic_o.right
							img(src='assets/images/page2_05.png', alt='')
				// 新建列表表单
				.list_main
					form.form_bg1(method='post', action='')
						table(width='100%')
							tr
								td.grad_bg_gray.word_center(height='50px') &#38134;&#34892;&#21345;&#21495;&#30721;
								td.grad_bg_gray.word_center &#21457;&#21345;&#34892;
								td.grad_bg_gray.word_center &#21345;&#21517;&#31216;
								td.grad_bg_gray.word_center &#21345;&#21697;&#29260;
								td.grad_bg_gray.word_center &#21345;&#31181;
								td.grad_bg_gray.word_center &#21345;&#24615;&#36136;
								td.grad_bg_gray1.word_center &#21345;&#31561;&#32423;
							tr
								td.grad_bg_gray.word_center.grad_bg_white 62XX XXXX XXXX XXXX
								td.grad_bg_gray.word_center(height='50px') &#20013;&#22269;&#24037;&#21830;&#38134;&#34892;
								td.grad_bg_gray.word_center.grad_bg_white &#29702;&#36130;&#37329;&#21345;
								td.grad_bg_gray.word_center 62&#38134;&#32852;&#26631;&#20934;&#21345;
								td.grad_bg_gray.word_center.grad_bg_white &#20154;&#27665;&#24065;&#21345;
								td.grad_bg_gray.word_center &#20511;&#35760;&#21345;
								td.grad_bg_gray1.word_center.grad_bg_white &#26222;&#21345;
							tr
								td.grad1_bg_gray.word_center.grad_bg_white 43XX XXXX XXXX XXXX
								td.grad1_bg_gray.word_center(height='50px') &#25307;&#21830;&#38134;&#34892;
								td.grad1_bg_gray.word_center.grad_bg_white VISA&#21830;&#21153;&#20449;&#29992;&#21345;
								td.grad1_bg_gray.word_center VISA&#38134;&#32852;&#26631;&#35782;&#21345;
								td.grad1_bg_gray.word_center.grad_bg_white &#22810;&#24065;&#31181;&#21345;
								td.grad1_bg_gray.word_center &#36151;&#35760;&#21345;
								td.grad_bg_white.word_center &#30333;&#37329;&#21345;
				// 企业主近12个月每月消费状况
				.right_main_list
					.list_title
						.list_title_pic_o.left
							img(src='assets/images/page2_03.png', alt='')
						.list_title_main2
							.list_title_word
								span &#20225;&#19994;&#20027;&#36817;12&#20010;&#26376;&#27599;&#26376;&#28040;&#36153;&#29366;&#20917;
								span.list_title_button -&#25910;&#32553;
						.list_title_pic_o.right
							img(src='assets/images/page2_05.png', alt='')
				// 新建列表表单
				.list_main
					form.form_bg1(method='post', action='')
						table(width='100%')
							tr
								td.grad_bg_gray.word_center(height='50px') &#25968;&#25454;&#25351;&#26631;
								td.grad_bg_gray.word_center 2012-12
								td.grad_bg_gray.word_center 2013-07
								td.grad_bg_gray.word_center 2013-08
								td.grad_bg_gray.word_center 2013-09
								td.grad_bg_gray.word_center 2013-10
								td.grad_bg_gray.word_center 2013-11
								td.grad_bg_gray1.word_center &#36817;12&#20010;&#26376;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#28040;&#36153;&#37329;&#39069;&#65288;&#20803;&#65289;
								td.grad_bg_gray.word_center(height='50px') 6000
								td.grad_bg_gray.word_center.grad_bg_white
									| 6000
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad_bg_gray.word_center
									| 6000
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad_bg_gray.word_center.grad_bg_white
									| 7500
									span.grad_ico
										img(src='assets/images/shuju_main_11.png')
								td.grad_bg_gray.word_center
									| 7500
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad_bg_gray.word_center.grad_bg_white
									| 9000
									span.grad_ico
										img(src='assets/images/shuju_main_11.png')
								td.grad_bg_gray.word_center 42000
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#28040;&#36153;&#37329;&#39069;&#22312;&#26412;&#24066;&#30340;&#25490;&#21517;
								td.grad_bg_gray.word_center(height='50px') &#21069;35&percnt;
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;35&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad_bg_gray.word_center
									| &#21069;35&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;30&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png')
								td.grad_bg_gray.word_center
									| &#21069;30&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad_bg_gray.word_center.grad_bg_white
									| &#21069;25&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png')
								td.grad_bg_gray.word_center &#21069;30&percnt;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#28040;&#36153;&#31508;&#25968;
								td.grad_bg_gray.word_center(height='50px') 20
								td.grad_bg_gray.word_center.grad_bg_white
									| 20
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad_bg_gray.word_center
									| 20
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad_bg_gray.word_center.grad_bg_white
									| 25
									span.grad_ico
										img(src='assets/images/shuju_main_11.png')
								td.grad_bg_gray.word_center
									| 25
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad_bg_gray.word_center.grad_bg_white
									| 30
									span.grad_ico
										img(src='assets/images/shuju_main_11.png')
								td.grad_bg_gray.word_center 140
							tr
								td.grad1_bg_gray.word_center.grad_bg_white &#28040;&#36153;&#31508;&#25968;&#22312;&#26412;&#24066;&#30340;&#25490;&#21517;
								td.grad1_bg_gray.word_center(height='50px') &#21069;35&percnt;
								td.grad1_bg_gray.word_center.grad_bg_white
									| &#21069;35&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad1_bg_gray.word_center
									| &#21069;35&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad1_bg_gray.word_center.grad_bg_white
									| &#21069;30&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png')
								td.grad1_bg_gray.word_center
									| &#21069;30&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_15.png')
								td.grad1_bg_gray.word_center.grad_bg_white
									| &#21069;25&percnt;
									span.grad_ico
										img(src='assets/images/shuju_main_11.png')
								td.word_center &#21069;30&percnt;
				// 企业主近12个月在各类商户处消费统计
				.right_main_list
					.list_title
						.list_title_pic_o.left
							img(src='assets/images/page2_03.png', alt='')
						.list_title_main2
							.list_title_word
								span &#20225;&#19994;&#20027;&#36817;12&#20010;&#26376;&#22312;&#21508;&#31867;&#21830;&#25143;&#22788;&#28040;&#36153;&#32479;&#35745;
								span.list_title_button -&#25910;&#32553;
						.list_title_pic_o.right
							img(src='assets/images/page2_05.png', alt='')
				// 新建列表表单
				.list_main
					form.form_bg1(method='post', action='')
						table(width='100%')
							tr
								td.grad_bg_gray.word_center(height='50px') &#21830;&#25143;&#31867;&#21035;
								td.grad_bg_gray.word_center &#28040;&#36153;&#31508;&#25968;
								td.grad_bg_gray.word_center &#28040;&#36153;&#31508;&#25968;&#21344;&#27604;
								td.grad_bg_gray.word_center &#28040;&#36153;&#37329;&#39069;&#65288;&#20803;&#65289;
								td.grad_bg_gray1.word_center &#28040;&#36153;&#37329;&#39069;&#21344;&#27604;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#39184;&#39278;&#32654;&#39135;
								td.grad_bg_gray.word_center(height='50px') 10
								td.grad_bg_gray.word_center.grad_bg_white 10&percnt;
								td.grad_bg_gray.word_center 3000
								td.grad_bg_gray1.word_center.grad_bg_white 10&percnt;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#21307;&#30103;&#20445;&#20581;
								td.grad_bg_gray.word_center(height='50px') 10
								td.grad_bg_gray.word_center.grad_bg_white 10&percnt;
								td.grad_bg_gray.word_center 3000
								td.grad_bg_gray1.word_center.grad_bg_white 10&percnt;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#39749;&#21147;&#20029;&#20154;
								td.grad_bg_gray.word_center(height='50px') 10
								td.grad_bg_gray.word_center.grad_bg_white 10&percnt;
								td.grad_bg_gray.word_center 3000
								td.grad_bg_gray1.word_center.grad_bg_white 10&percnt;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#29983;&#27963;&#20415;&#21033;
								td.grad_bg_gray.word_center(height='50px') 10
								td.grad_bg_gray.word_center.grad_bg_white 10&percnt;
								td.grad_bg_gray.word_center 3000
								td.grad_bg_gray1.word_center.grad_bg_white 10&percnt;
							tr
								td.grad1_bg_gray.word_center.grad_bg_white &#20080;&#25151;&#31199;&#25151;
								td.grad1_bg_gray.word_center(height='50px') 10
								td.grad1_bg_gray.word_center.grad_bg_white 10&percnt;
								td.grad1_bg_gray.word_center 3000
								td.grad_bg_white.word_center 10
				// 企业主近12个月资产购买记录
				.right_main_list
					.list_title
						.list_title_pic_o.left
							img(src='assets/images/page2_03.png', alt='')
						.list_title_main2
							.list_title_word
								span &#20225;&#19994;&#20027;&#36817;12&#20010;&#26376;&#36164;&#20135;&#36141;&#20080;&#35760;&#24405;
								span.list_title_button -&#25910;&#32553;
						.list_title_pic_o.right
							img(src='assets/images/page2_05.png', alt='')
				// 新建列表表单
				.list_main
					form.form_bg1(method='post', action='')
						table(width='100%')
							tr
								td.grad_bg_gray.word_center(height='50px') &#36164;&#20135;&#31867;&#21035;
								td.grad_bg_gray.word_center &#36141;&#20080;&#25152;&#22312;&#21830;&#25143;
								td.grad_bg_gray.word_center &#36141;&#20080;&#25152;&#22312;&#22478;&#24066;
								td.grad_bg_gray.word_center &#36141;&#20080;&#37329;&#39069;&#65288;&#20803;&#65289;
								td.grad_bg_gray1.word_center &#36141;&#20080;&#26085;&#26399;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#25151;&#20135;
								td.grad_bg_gray.word_center(height='50px') &#19978;&#28023;&#35937;&#23679;&#40718;&#22478;&#26377;&#38480;&#20844;&#21496;&#35937;&#23679;&#40718;&#25104;&#25151;&#20135;&#38144;&#21806;
								td.grad_bg_gray.word_center.grad_bg_white &#19978;&#28023;
								td.grad_bg_gray.word_center 500000
								td.grad_bg_gray1.word_center.grad_bg_white 2013-06-08
							tr
								td.grad1_bg_gray.word_center.grad_bg_white &#27773;&#36710;
								td.grad1_bg_gray.word_center(height='50px') &#19978;&#28023;&#27704;&#36798;&#36890;&#32654;&#27773;&#36710;&#38144;&#21806;&#26381;&#21153;&#26377;&#38480;&#20844;&#21496;
								td.grad1_bg_gray.word_center.grad_bg_white &#19978;&#28023;
								td.grad1_bg_gray.word_center 150000
								td.grad_bg_white.word_center 2013-09-02
				// 企业主近12个月消费所在城市/国别统计
				.right_main_list
					.list_title
						.list_title_pic_o.left
							img(src='assets/images/page2_03.png', alt='')
						.list_title_main2
							.list_title_word
								span &#20225;&#19994;&#20027;&#36817;12&#20010;&#26376;&#28040;&#36153;&#25152;&#22312;&#22478;&#24066;&sol;&#22269;&#21035;&#32479;&#35745;
								span.list_title_button -&#25910;&#32553;
						.list_title_pic_o.right
							img(src='assets/images/page2_05.png', alt='')
				// 新建列表表单
				.list_main
					form.form_bg1(method='post', action='')
						table(width='100%')
							tr
								td.grad_bg_gray.word_center(height='50px') &#22478;&#24066;&sol;&#22269;&#21035;
								td.grad_bg_gray.word_center &#28040;&#36153;&#31508;&#25968;
								td.grad_bg_gray.word_center &#28040;&#36153;&#31508;&#25968;&#21344;&#27604;
								td.grad_bg_gray.word_center &#28040;&#36153;&#37329;&#39069;&#65288;&#20803;&#65289;
								td.grad_bg_gray.word_center &#28040;&#36153;&#37329;&#39069;&#21344;&#27604;
								td.grad_bg_gray.word_center &#31532;&#19968;&#27425;&#28040;&#36153;&#26085;&#26399;
								td.grad_bg_gray1.word_center &#26368;&#21518;&#19968;&#27425;&#28040;&#36153;&#26085;&#26399;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#19978;&#28023;
								td.grad_bg_gray.word_center(height='50px') 180
								td.grad_bg_gray.word_center.grad_bg_white 83&percnt;
								td.grad_bg_gray.word_center 70000
								td.grad_bg_gray.word_center.grad_bg_white 70&percnt;
								td.grad_bg_gray.word_center 2012-12-03
								td.grad_bg_gray1.word_center.grad_bg_white 2013-10-29
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#26477;&#24030;
								td.grad_bg_gray.word_center(height='50px') 29
								td.grad_bg_gray.word_center.grad_bg_white 13&percnt;
								td.grad_bg_gray.word_center 20000
								td.grad_bg_gray.word_center.grad_bg_white 20&percnt;
								td.grad_bg_gray.word_center 2013-02-09
								td.grad_bg_gray1.word_center.grad_bg_white 2013-08-19
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#32654;&#22269;
								td.grad_bg_gray.word_center(height='50px') 3
								td.grad_bg_gray.word_center.grad_bg_white 1&percnt;
								td.grad_bg_gray.word_center 8000
								td.grad_bg_gray.word_center.grad_bg_white 8&percnt;
								td.grad_bg_gray.word_center 2013-04-28
								td.grad_bg_gray1.word_center.grad_bg_white 2013-05-01
							tr
								td.grad1_bg_gray.word_center.grad_bg_white &#33487;&#24030;
								td.grad1_bg_gray.word_center(height='50px') 5
								td.grad1_bg_gray.word_center.grad_bg_white 2&percnt;
								td.grad1_bg_gray.word_center 2000
								td.grad1_bg_gray.word_center.grad_bg_white 2&percnt;
								td.grad1_bg_gray.word_center 2013-07-01
								td.grad_bg_white.word_center 2013-07-06
				// 企业主近12个月特殊交易记录
				.right_main_list
					.list_title
						.list_title_pic_o.left
							img(src='assets/images/page2_03.png', alt='')
						.list_title_main2
							.list_title_word
								span &#20225;&#19994;&#20027;&#36817;12&#20010;&#26376;&#29305;&#27530;&#20132;&#26131;&#35760;&#24405;
								span.list_title_button -&#25910;&#32553;
						.list_title_pic_o.right
							img(src='assets/images/page2_05.png', alt='')
				// 新建列表表单
				.list_main
					form.form_bg1(method='post', action='')
						table(width='100%')
							tr
								td.grad_bg_gray.word_center(height='50px') &#29305;&#27530;&#20132;&#26131;&#31867;&#22411;
								td.grad_bg_gray.word_center &#20132;&#26131;&#25152;&#22312;&#21830;&#25143;
								td.grad_bg_gray.word_center &#20132;&#26131;&#25152;&#22312;&#22478;&#24066;
								td.grad_bg_gray.word_center &#20132;&#26131;&#37329;&#39069;&#65288;&#20803;&#65289;
								td.grad_bg_gray1.word_center &#20132;&#26131;&#26085;&#26399;
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#22823;&#39069;&#20132;&#26131;
								td.grad_bg_gray.word_center(height='50px') &#23452;&#23478;&#23478;&#23621;&#24464;&#27719;&#21830;&#22330;
								td.grad_bg_gray.word_center.grad_bg_white &#19978;&#28023;
								td.grad_bg_gray.word_center 12000
								td.grad_bg_gray1.word_center.grad_bg_white 2013-10-26
							tr
								td.grad_bg_gray.word_center.grad_bg_white &#22823;&#39069;&#20132;&#26131;
								td.grad_bg_gray.word_center(height='50px') &#19978;&#28023;&#32769;&#20964;&#31077;&#38134;&#27004;&#26377;&#38480;&#20844;&#21496;&#26071;&#33328;&#24215;
								td.grad_bg_gray.word_center.grad_bg_white &#19978;&#28023;
								td.grad_bg_gray.word_center 25000
								td.grad_bg_gray1.word_center.grad_bg_white 2013-08-22
							tr
								td.grad1_bg_gray.word_center.grad_bg_white &#30097;&#20284;&#20449;&#29992;&#21345;&#22871;&#29616;&#20132;&#26131;
								td.grad1_bg_gray.word_center(height='50px') &#19978;&#28023;&#20159;&#20016;&#24037;&#36152;&#26377;&#38480;&#20844;&#21496;
								td.grad1_bg_gray.word_center.grad_bg_white &#19978;&#28023;
								td.grad1_bg_gray.word_center 20000
								td.grad_bg_white.word_center 2013-04-05
				// 查询及监控历史
				.right_main_list
					.list_title
						.list_title_pic_o.left
							img(src='assets/images/page2_03.png', alt='')
						.list_title_main2
							.list_title_word
								span &#26597;&#35810;&#21450;&#30417;&#25511;&#21382;&#21490;
								span.list_title_button -&#25910;&#32553;
						.list_title_pic_o.right
							img(src='assets/images/page2_05.png', alt='')
				// 新建列表表单
				.list_main
					form.form_bg1(method='post', action='')
						table(width='100%')
							tr
								td.grad_bg_gray.word_center(height='50px') &#26102;&#38388;
								td.grad_bg_gray1.word_center &#25805;&#20316;
							tr
								td.grad_bg_gray.word_center.grad_bg_white(height='50px') 2013-11-01 10&colon;10&colon;10
								td.grad_bg_gray1.word_center &#25968;&#25454;&#25253;&#21578;&#26597;&#35810;
							tr
								td.grad_bg_gray.word_center.grad_bg_white(height='50px') 2013-11&#33267;2014-10
								td.grad_bg_gray1.word_center &#36151;&#21518;&#25968;&#25454;&#30417;&#25511;
							tr
								td.grad1_bg_gray.word_center.grad_bg_white(height='50px') 2013-11-15 10&colon;10&colon;10
								td.word_center &#25968;&#25454;&#25253;&#21578;&#26597;&#35810;
			// 底部
