// 近12个月特殊交易记录
.right_main_list
	.list_title
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word
				span &#36817;12&#20010;&#26376;&#29305;&#27530;&#20132;&#26131;&#35760;&#24405;
				span.list_title_button -&#25910;&#32553;
		.list_title_pic_o.right
			img(src='assets/images/page2_05.png', alt='')
// 新建列表表单
.list_main_p
	form.form_bg1(method='post', action='')
		table(width='100%')
			tr
				td.grad_bg_gray.word_center(height='50px') &#29305;&#27530;&#20132;&#26131;&#31867;&#22411;
				td.grad_bg_gray.word_center &#20132;&#26131;&#25152;&#22312;&#21830;&#25143;
				td.grad_bg_gray.word_center &#20132;&#26131;&#25152;&#22312;&#22478;&#24066;
				td.grad_bg_gray.word_center &#20132;&#26131;&#37329;&#39069;&#65288;&#20803;&#65289;
				td.grad_bg_gray1.word_center &#20132;&#26131;&#26085;&#26399;
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#22823;&#39069;&#20132;&#26131;
				td.grad_bg_gray.word_center(height='50px') &#23452;&#23478;&#23478;&#23621;&#24464;&#27719;&#21830;&#22330;
				td.grad_bg_gray.word_center.grad_bg_white &#19978;&#28023;
				td.grad_bg_gray.word_center 12000
				td.grad_bg_gray1.word_center.grad_bg_white 2013-10-26
			tr
				td.grad_bg_gray.word_center.grad_bg_white &#22823;&#39069;&#20132;&#26131;
				td.grad_bg_gray.word_center(height='50px') &#19978;&#28023;&#32769;&#20964;&#31077;&#38134;&#27004;&#26377;&#38480;&#20844;&#21496;&#26071;&#33328;&#24215;
				td.grad_bg_gray.word_center.grad_bg_white &#19978;&#28023;
				td.grad_bg_gray.word_center 25000
				td.grad_bg_gray1.word_center.grad_bg_white 2013-08-22
			tr
				td.grad1_bg_gray.word_center.grad_bg_white &#30097;&#20284;&#20449;&#29992;&#21345;&#22871;&#29616;&#20132;&#26131;
				td.grad1_bg_gray.word_center(height='50px') &#19978;&#28023;&#20159;&#20016;&#24037;&#36152;&#26377;&#38480;&#20844;&#21496;
				td.grad1_bg_gray.word_center.grad_bg_white &#19978;&#28023;
				td.grad1_bg_gray.word_center 20000
				td.grad_bg_white.word_center 2013-04-05
