.right_top
	.admin_welcome
		.admin_left_image
			img(src='assets/images/newstyle4_03.png', alt='')
		.welcome_pic
			img(src='assets/images/newstyle_07.png', alt='')
		- txt = type === "e" ? "企业客户" : "个人客户"
		span.welcome_word= "管理中心 - " + txt + " - 贷后数据监控"
		.admin_right_image
			img(src='assets/images/newstyle4_07.png', alt='')
// 右侧主体内容
.right_main_list
	.list_title2
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word 监控记录
		.list_title_pic_o.right2
			a(href="#monitor/#{type}/new")
				span.add_button_pic
					img(src='assets/images/page2_07.png', alt='')
					span.add_button_word 新建监控
.list_main
	table.table.table-striped
		if type === "p"
			tr
				th 监控编号
				th 姓名
				th 身份证号码
				th 监控月份区间
				th 监控过程
			each item in [1,2,3]
				tr
					td F_BREPORT0001
					td xxx
					td 000000000000000000
					td 013-12至2014-11
					td
						span.button_one
							a.bg_button(href="#monitor/#{type}/1/detail") 查看

		else
			tr
				th 监控编号
				th 企业名称
				th 监控月份区间
				th 监控过程
			each item in [1,2,3]
				tr
					td F_BREPORT0001
					td 上海捞派餐饮管理有限公司海底捞吴中路店
					td 013-12至2014-11
					td
						span.button_one
							a.bg_button(href="#monitor/#{type}/1/detail") 查看

	.last_page
		.page_pic.left
			img(src='assets/images/newstyle4_24.png', alt='')
		ul.bg_white
			li.top_name4 &#16; &#19968;&#20849;&#26377; 3 &#26465;&#39044;&#35686;&#35760;&#24405;
			li.page
				span.on_one &#16;&#31532;&#19968;&#39029;
				span.on_one &#16;&#19978;&#19968;&#39029;
				span.pc_down 1
				span.pc 2
				span.pc 3
				span.on_one &#16;&#19979;&#19968;&#39029;
		.page_pic.right
			img(src='assets/images/newstyle4_27.png', alt='')