.right_top
	.admin_welcome
		.admin_left_image
			img(src='assets/images/newstyle4_03.png', alt='')
		.welcome_pic
			img(src='assets/images/newstyle_07.png', alt='')
		span.welcome_word 管理中心 - 企业客户 - 贷后数据监控
		.admin_right_image
			img(src='assets/images/newstyle4_07.png', alt='')

// 右侧主体内容
.right_main_list
	.list_title
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word 新建查询
		.list_title_pic_o.right
			img(src='assets/images/page2_05.png', alt='')
// 新建列表表单
.list_main
	form.form_bg(method='post', action='')
		table.monitor_list
			tr.monitor_title_bg
				td(colspan='5') 填写监控基本信息
			tr
				td.form_no_bg(width='100px') 企业名称：
				td(width='380px', colspan='3')
					.input_wk
						input.no_wk(type='text' name='' value='')
				td 监控数据前先查询数据报告
			tr.form_gray_bg
				td 监控月份区间：
				td(colspan='3')
					span.monitor_left
						.input_wk150
							input#date_begin.date_select(type='text', name='', value='')

					span.monitor_with70 &#33267;
					span.monitor_left
						.input_wk150
							input#date_end.date_select(type='text', name='', value='')

				td
			tr.form_no_bg
				td &#35746;&#38405;Email&#65306;
				td.monitir_marg_no10(colspan='3')
					input.have_wk(type='', name='', value='')
				td &#22810;&#20010;Email&#22320;&#22336;&#29992;&#36887;&#21495;&#20998;&#38548;
			tr.monitor_title_bg
				td(colspan='6') 设置风险预警指标
			tr.form_no_bg
				td.form_no_bg(colspan='2')
					.input_wk240.monitor_marg10
						input.no_wk240(type='', name='', value='')
						img(src='assets/images/monitor_03.png', alt='')
				td(width='130px')
					.input_wk118.monitor_marg10
						input.no_wk118(type='', name='', value='')
						img(src='assets/images/monitor_03.png', alt='')
				td(width='100px')
					input.have_wk80(type='', name='', value='')
				td
					img(src='assets/images/new_03.png', alt='')
			tr.form_gray_bg
				td.form_no_bg(colspan='2')
					.input_wk240.monitor_marg10
						input.no_wk240(type='', name='', value='')
						img(src='assets/images/monitor_03.png', alt='')
				td
					.input_wk118.monitor_marg10
						input.no_wk118(type='', name='', value='')
						img(src='assets/images/monitor_03.png', alt='')
				td
					input.have_wk80(type='', name='', value='')
				td
					button.bg_button1 &#22686;&#21152;
			tr
				td.form_no_bg(colspan='4')
					button.bule_button &#24320;&#22987;&#30417;&#25511;
				td