.right_top
	.admin_welcome
		.admin_left_image
			img(src='assets/images/newstyle4_03.png', alt='')
		.welcome_pic
			img(src='assets/images/newstyle_07.png', alt='')
		span.welcome_word 管理中心 - 企业客户 - 数据报告查询
		.admin_right_image
			img(src='assets/images/newstyle4_07.png', alt='')

// 右侧主体内容
.right_main_list
	.list_title2
		.list_title_pic_o.left
			img(src='assets/images/page2_03.png', alt='')
		.list_title_main2
			.list_title_word 查询记录
		.list_title_pic_o.right2
			a(href="#report_e/new")
				span.add_button_pic
					img(src='assets/images/page2_07.png', alt='')
					span.add_button_word 新建查询
.list_main
	table.table.table-striped
		tr
			th 查询编号
			th 查询时间
			th 企业名称
			th 数据报告
		tr
			td F_BREPORT0001
			td 2013-12-01 10&colon;10&colon;10
			td &#19978;&#28023;&#25438;&#27966;&#39184;&#39278;&#31649;&#29702;&#26377;&#38480;&#20844;&#21496;&#28023;&#24213;&#25438;&#21556;&#20013;&#36335;&#24215;
			td
				span.button_one
					a.bg_button(href="#report/1/detail") 查看
				span.button_two
					button.bg_button 导出
		tr
			td &#16; F&UnderBar;BREPORT0002
			td 2013-12-01 10&colon;10&colon;10
			td &#19978;&#28023;&#25438;&#27966;&#39184;&#39278;&#31649;&#29702;&#26377;&#38480;&#20844;&#21496;&#28023;&#24213;&#25438;&#21556;&#20013;&#36335;&#24215;
			td
				span.button_one
					a.bg_button(href="#report/1/detail") 查看
				span.button_two
					button.bg_button 导出
		tr
			td &#16; F&UnderBar;BREPORT0003
			td 2013-12-01 10&colon;10&colon;10
			td &#19978;&#28023;&#25438;&#27966;&#39184;&#39278;&#31649;&#29702;&#26377;&#38480;&#20844;&#21496;&#28023;&#24213;&#25438;&#21556;&#20013;&#36335;&#24215;
			td
				span.button_one
					a.bg_button(href="#report/1/detail") 查看
				span.button_two
					button.bg_button 导出
	.last_page
		.page_pic.left
			img(src='assets/images/newstyle4_24.png', alt='')
		ul.bg_white
			li.top_name4 &#16; &#19968;&#20849;&#26377; 3 &#26465;&#39044;&#35686;&#35760;&#24405;
			li.page
				span.on_one &#16;&#31532;&#19968;&#39029;
				span.on_one &#16;&#19978;&#19968;&#39029;
				span.pc_down 1
				span.pc 2
				span.pc 3
				span.on_one &#16;&#19979;&#19968;&#39029;
		.page_pic.right
			img(src='assets/images/newstyle4_27.png', alt='')